*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

table{
  border-collapse: collapse;
  width: 50rem;
}

th{
  background-color: lightgray;
  border: 2px solid black;
  padding: 5px;
  text-align: left;
}

td{
  border: 2px solid black;
  padding: 5px;
  text-align: left;
}

tr:hover{
  background-color: rgb(224, 254, 254);
}
